@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Yarndings+20&display=swap');

/*RESET CSS*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    font-family: "Yarndings 20", system-ui;
  font-weight: 400;
  font-style: normal;
}

.text {
    padding: 10px 20px 30px 40px; /*บน ขวา ล่าง ซ้าย* -> เขียนแยกได้ padding-top,right,bottom,left ,การใส่ค่า ->  สามค่า บน-ซ้ายขวา-ล่าง, สองค่า บนล่าง-ซ้ายขวา,ค่าเดียว บนล่าง /
    outline: solid red 10px; /*ไม่อยู่ใน boxmodel*/
    border: solid blue 10px;
}
#text2{
    height: 200px; /*auto*/    
    width: auto;/*auto*/
    background-color: lightblue;
    border: solid green 20px;
}