@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* RESET CSS */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* CSS */
body {
    font-family: "Inter", sans-serif;
}
.text {
    padding: 10px;
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px; */
    /* outline: solid red 10px; */
    border: solid red 10px;
}
#text2 {
    background-color: lightblue;
    border: solid blue 10px;
}
