@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* RESET CSS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* CSS */
body {
  font-family: "Inter", sans-serif;
}
img {
    display: block;
    width: 400px;
}
span {
    color: maroon;
    background-color: yellowgreen;
    padding: 0 1rem;
}
a{
    display: inline-block;
    height: 40px;
    width: 200px;
    outline: solid red 1px;
}
#about {
    background-color: goldenrod;
    display: block;
} 